---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    I am currently a PhD student in the School of Computing at Macquarie University, co-supervised by <a href="https://profiles.uts.edu.au/Longbing.Cao" target="_blank">Prof. Longbing Cao</a> and <a href="https://profiles.uts.edu.au/Jinyan.Li" target="_blank">Prof. Jinyan Li</a>. Prior to transferring to Macquarie University, I commenced my PhD at the University of Technology Sydney. My research interests include Probabilistic Machine Learning and Bayesian Statistics. 
  </p>
</div>


<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=j4Q49C4AAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-sel">Selected Papers</div></li>
    <li><div class="button" data-ref="#papers-Conferences">Conferences</div></li>
    <li><div class="button" data-ref="#papers-Journals">Journals</div></li> 
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-sel">
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- All PAPERS -->
    <div class="tab-pane" id="papers-all">
      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>
    

    <!-- Conferences PAPERS -->
    <div class="tab-pane" id="papers-Conferences">
      {% assign Conferences_papers = site.data.publications.papers | where: "Conferences", "y" %}
      {% for paper in Conferences_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Journals PAPERS -->
    <div class="tab-pane" id="papers-Journals">
      {% assign Journals_papers = site.data.publications.papers | where: "Journals", "y" %}
      {% for paper in Journals_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- LLM PAPERS -->
    <div class="tab-pane" id="papers-llm">
      {% assign llm_papers = site.data.publications.papers | where: "llm", "y" %}
      {% for paper in llm_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- fl PAPERS -->
    <div class="tab-pane" id="papers-fl">
      {% assign fl_papers = site.data.publications.papers | where: "fl", "y" %}
      {% for paper in fl_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- rl PAPERS -->
    <div class="tab-pane" id="papers-rl">
      {% assign rl_papers = site.data.publications.papers | where: "rl", "y" %}
      {% for paper in rl_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

<!-- <div class="docs-section" id="teaching">
  <h4>Teaching</h4>
  {% assign current_classes = site.data.classes.classes | where: "category", "current" %}
  {% for class in current_classes %}
  <div class="class">
    <p class="title"><b>{{ class.name }}</b> ({{ class.time }}): <a href={{class.link}} target="_blank">{{ class.title }}</a></p>
  </div>
  {% endfor %}
</div> -->

<!-- ========== Services ========== -->
<div class="docs-section" id="services">
  <h4>Services</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#services-conferences">Conferences</div></li>
    <li><div class="button" data-ref="#services-journal">Journals</div></li>
  </ul>

  <div class="tab-content">

    <!-- Conferences -->
    <div class="tab-pane active" id="services-conferences">
      {% assign conferences = site.data.services.services | where: "conference", "y" %}
      {% for paper in conferences %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p><i>{{ paper.role }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- Journal -->
    <div class="tab-pane" id="services-journal">
      {% assign journals = site.data.services.services | where: "journal", "y" %}
      {% for paper in journals %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p><i>{{ paper.role }}</i></p>
        </div>
      {% endfor %}
    </div>

  </div>
</div>



<div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://faculty.washington.edu/msaveski/">Martin Saveski</a>, <a href="https://www.zitaoliu.com/index.html#news">Zitao Liu</a> and <a href="http://thashim.github.io">Tatsunori Hashimoto</a>
  </p>

</div>
